* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title-h1 {
  background-color: lightblue;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 5px 50px;
  border: 2px solid #333;
  border-radius: 50%;
}

.fake-body {
  min-height: 100vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.container {
  background-color: #333;
  width: 25rem;
  height: 10rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  /* background-color: #000; */
  border-radius: 100%;
  position:relative;
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.2s ease;
  margin: 0.5rem;
}

.light.active {
  background-color: var(--light-color, blue);
  box-shadow: 0 0 20px var(--light-color);
}

.light.light1 {
  --light-color: #00FFC0;
}

.light.light2 {
  --light-color: #FC00FF;
}

.light.light3 {
  --light-color: #FFFC00;
}

.light.light4 {
  --light-color: green;
}

.light.light5 {
  --light-color: orange;
}

.light.light6 {
  --light-color: purple;
}

 