* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.title-h1 {
  background-color: lightseagreen;
  width: fit-content;
  margin: 20px auto;
  padding: 5px 50px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.95);
}

.fake-body {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #881af1;
  white-space: nowrap;
}

.fake-body h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
  /* left: 50%;
  transform: translateX(-50%); */
  color: whitesmoke;  
  text-decoration: underline;
}

.container {
  /* background-color: yellow; */
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 340px;
}

.activity {
  padding: 1px;
  background-color: rgb(214, 214, 214);
  box-shadow: 0 0 2px rgb(151, 151, 151);
  margin: 5px;
  height: 20px;
  width: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */ 
  transition: 3s ease;
  overflow: hidden;
  border-radius: 2px;
}

.activity:hover {
  transition-duration: 0s;
  overflow: hidden;
}